# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
*#auto_saved_files#
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

#StmCubeMx

sites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

SI/

cscope.*

tags


# *.crf

src/MDK/LIST/*
!src/MDK/LIST/keep-dir.txt
src/MDK/OUT/*
!src/MDK/OUT/keep-dir.txt
*.swp
*.uvguix.*
JLinkLog.txt

firmware/Drivers
firmware/startup_stm32l431xx.s
firmware/STM32L431RCTx_FLASH.ld
firmware/.mxproject
*.lst
*.bin
.vscode/
openocd.cfg
STM32-for-VSCode.config.yaml
*/log/**
.lib_version
can_ids.h
can_parser_types.h
